<article class="content">
  <header class="page-header" *ngIf="categories?.length > 0">
    <h1>หมวดหมู่</h1>
    <h3>จังหวัด {{ province_name }}</h3>
  </header>

  <div class="d-flex justify-content flex-wrap">
    <div *ngFor="let category of categories" class="flex-item text-center">
      <div>
        <a [routerLink]="['/', AppURL.Result, province_id, category.category_id]">
          <img src="{{ AppURL.Img + category.category_img }}">
          <p>{{ category.category_name }}</p>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="categories?.length === 0">
    <h4 style="padding-top: 170px; color: red;"><strong>ไม่พบข้อมูลหมวดหมู่<br><br>จังหวัด {{ province_name }}</strong></h4>
  </div>
</article>
