<div class="pen-title">
  <h1>ระบบค้นหาร้านค้า</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle">
    <i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Click Me</div>
  </div>
  <div class="form">
    <h2>เข้าระบบด้วยบัญีของคุณ</h2>
    <form>
      <input type="text" placeholder="อีเมล" />
      <input type="password" placeholder="รหัสผ่าน" />
      <button>เข้าสู่ระบบ</button>
    </form>
  </div>
  <div class="form">
    <h2>สร้างบัญชีผู้ใช้</h2>
    <form>
      <input type="text" placeholder="ชื่อ" />
      <input type="text" placeholder="นามสกุล" />
      <input type="email" placeholder="อีเมล" />
      <input type="password" placeholder="รหัสผ่าน" />
      <input type="password" placeholder="ยืนยันรหัสผ่าน" />
      <button>ลงทะเบียน</button>
    </form>
  </div>
  <div class="cta">
      All rights reserved &copy; 2018 chiangraisoftware
  </div>
</div>
