<app-content>
  <article class="container">
    <h4 class="text-center">หมวดหมู่หลัก</h4>
    <section class="text-right">
      <button mat-fab matTooltip="เพิ่มหมวดหมู่" matTooltipShowDelay="200" class="mb-3" color="primary" (click)="newCategory()">
        <mat-icon>add</mat-icon>
      </button>
    </section>
    <section>
      <div class="table-container mat-elevation-z8">
        <div class="filter-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- Cateogry Id Column -->
          <ng-container matColumnDef="category_id" align="center">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cateogy Id </mat-header-cell>
            <mat-cell *matCellDef="let categories"> {{ categories.category_id}} </mat-cell>
          </ng-container>
          <!-- Cateogry Name Column -->
          <ng-container matColumnDef="category_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </mat-header-cell>
            <mat-cell *matCellDef="let categories"> {{ categories.category_name}} </mat-cell>
          </ng-container>
          <!-- Cateogry Img Column -->
          <ng-container matColumnDef="category_img">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category Img </mat-header-cell>
            <mat-cell *matCellDef="let categories"> {{ categories.category_img }} </mat-cell>
          </ng-container>
          <!-- Province Id Column -->
          <ng-container matColumnDef="province_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Province Id </mat-header-cell>
            <mat-cell *matCellDef="let categories"> {{ categories.province_id }} </mat-cell>
          </ng-container>

          <!-- Edit/Delete Column -->
          <ng-container matColumnDef="manage">
            <mat-header-cell *matHeaderCellDef> จัดการข้อมูล </mat-header-cell>
            <mat-cell *matCellDef="let categories">
              <button mat-mini-fab (click)="updateCategory(categories)" matTooltip="แก้ไขหมวดหมู่" matTooltipShowDelay="200"
                class="color-warn">
                <mat-icon class="white-text icon-size">edit</mat-icon>
              </button>
              &nbsp;
              <button mat-mini-fab (click)="deleteCategory(categories.category_id, categories.category_img) " matTooltip="ลบหมวดหมู่" matTooltipShowDelay="200"
                class="color-danger">
                <mat-icon class="white-text icon-size ">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
        </mat-table>

        <mat-paginator [length]="5 " [pageSize]="5 " [pageSizeOptions]="[5, 10, 25] "></mat-paginator>
      </div>
    </section>
  </article>
</app-content>
